
<div class="mb-3 row" *ngFor="let property of local; let i = index">
  <div class="col-sm-12">
    <div class="input-group">
      <select id="{{name}}-{{i}}" name="{{name}}-{{i}}" [ngModel]="property.value" (ngModelChange)="doChange(i, $event)" [disabled]="disabled" class="form-select">
        <option *ngFor="let container of containers" [ngValue]="container">{{ container }}</option>
      </select>
      <button class="btn btn-danger" type="button" (click)="doRemove(i)"><i class="bi bi-x"></i></button>
    </div>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-sm-12">
    <div class="input-group">
      <select id="{{name}}-newValue" name="{{name}}-newValue" [(ngModel)]="newValue" (keydown.enter)="doAdd()" [disabled]="disabled" class="form-select">
        <option *ngFor="let container of containers" [ngValue]="container">{{ container }}</option>
      </select>
      <button class="btn btn-success" type="button" (click)="doAdd()"><i class="bi bi-plus"></i></button>
    </div>
  </div>
</div>
