
<h1>Certbot</h1>

<ngb-alert type="info">Through this panel you can obtain SSL certificates for your domain.</ngb-alert>

<div *ngIf="result" class="mt-3">
  <fusio-message [response]="result"></fusio-message>
  <div class="card" *ngIf="result?.output">
    <div class="card-header">Output</div>
    <div class="card-body">
      <div style="height:200px;">
        <ngx-monaco-editor style="height:100%" name="result" [options]="{theme: 'vs-light'}" [ngModel]="result.output"></ngx-monaco-editor>
      </div>
    </div>
  </div>
</div>

<form class="mt-3">
  <div class="mb-3">
    <label for="domain" class="form-label">Domain</label>
    <input type="text" class="form-control" id="domain" name="domain" [(ngModel)]="domain">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
  </div>
  <button *ngIf="!loading" (click)="doRequest()" class="btn btn-primary">Request</button>
  <button *ngIf="loading" class="btn btn-primary" disabled><span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status" class="ms-1">Request ...</span></button>
</form>
