
<h1>Logs</h1>

<fusio-message [response]="result()"></fusio-message>

@if (loading()) {
  <div class="text-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
@else {
  <div class="btn-group" role="group">
    <a (click)="fetchLogs()" class="btn btn-primary fusio-btn-update">Refresh</a>
  </div>
  @if (logs()?.output; as output) {
    <div style="height:500px;" class="mt-3">
      <ngx-monaco-editor style="height:100%" name="result" [options]="{theme: 'vs-light', readOnly: true}" [ngModel]="output"></ngx-monaco-editor>
    </div>
  }
}
