
<h1>Logs</h1>

<fusio-message [response]="result"></fusio-message>

<div *ngIf="loading" class="text-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loading">
  <div class="btn-group" role="group">
    <a (click)="fetchLogs()" class="btn btn-primary fusio-btn-update">Refresh</a>
  </div>
  <div style="height:500px;" class="mt-3" *ngIf="logs?.output">
    <ngx-monaco-editor style="height:100%" name="result" [options]="{theme: 'vs-light', readOnly: true}" [ngModel]="logs?.output"></ngx-monaco-editor>
  </div>
</div>
