
<h1>
  <a (click)="doList()">Project</a> /
  <a (click)="doDetail(entity().id)">{{ entity().name }}</a> /
  <fusio-form-breadcrumb [mode]="mode"></fusio-form-breadcrumb>
</h1>

<fusio-message [response]="response()"></fusio-message>

@if (entity(); as entity) {
  <form class="mb-5">
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" id="name" name="name" [(ngModel)]="entity.name" [disabled]="mode === 3" class="form-control">
          <button class="btn btn-outline-secondary" type="button" [ngbPopover]="nameHelp"><i class="bi bi-question"></i></button>
          <ng-template #nameHelp>Unique name of the action</ng-template>
        </div>
      </div>
    </div>
    @if (mode === 1) {
      <div class="mb-3 row" >
        <label for="preset" class="col-sm-2 col-form-label fw-bold">Preset</label>
        <div class="col-sm-10">
          <select id="preset" name="preset" [ngModel]="preset()" (ngModelChange)="preset.set($event);loadPreset()" [disabled]="loading()" class="form-select">
            <option [ngValue]="undefined">Custom</option>
            @for (preset of presets(); track $index) {
              @if (preset.displayName && preset.displayName.indexOf('-') === -1) {
                <option [ngValue]="preset.name">{{ preset.displayName }}</option>
              }
            }
          </select>
        </div>
      </div>
    }
    @if (mode === 1 && variants().length > 0) {
      <div class="mb-3 row">
        <label for="variant" class="col-sm-2 col-form-label fw-bold">Variant</label>
        <div class="col-sm-10">
          <select id="variant" name="variant" [ngModel]="variant()" (ngModelChange)="variant.set($event);loadVariant()" [disabled]="loading()" class="form-select">
            <option [ngValue]="preset()">Default</option>
            @for (variant of variants(); track $index) {
              <option [ngValue]="variant.name">{{ variant.displayName }}</option>
            }
          </select>
        </div>
      </div>
    }
    @if (entity.apps) {
      <app-project-apps [(active)]="active" [(apps)]="entity.apps" [disabled]="mode === 3"></app-project-apps>
    }
    <div class="btn-group" role="group">
      @if (mode === 1) {
        @if (!loading()) {
          <button type="button" class="btn btn-primary" (click)="doCreate(entity)">Create</button>
        }
        @else {
          <button type="button" class="btn btn-primary" disabled><span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status" class="ms-1">Creating ...</span></button>
        }
      }
      @if (mode === 2) {
        @if (!loading()) {
          <button type="button" class="btn btn-primary" (click)="doUpdate(entity)">Update</button>
        }
        @else {
          <button type="button" class="btn btn-primary" disabled><span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status" class="ms-1">Updating ...</span></button>
        }
      }
      @if (mode === 3) {
        @if (!loading()) {
          <button type="button" class="btn btn-danger" (click)="confirmDelete(deleteModal, entity)">Delete</button>
        }
        @else {
          <button type="button" class="btn btn-danger" disabled><span class="spinner-border spinner-border-sm" aria-hidden="true"></span><span role="status" class="ms-1">Deleting ...</span></button>
        }
      }
    </div>
  </form>
}

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete Project</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="projectName">Name</label>
      <input type="text" [(ngModel)]="deleteProjectName" id="projectName" required class="form-control" aria-describedby="projectNameHelpBlock">
      <div id="projectNameHelpBlock" class="form-text">
        Enter the name of your project to confirm that you really want to delete the project. This action permanently removes the project
        from the server, this action can not be undone.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">Delete</button>
  </div>
</ng-template>
