
<div class="mb-3 row" *ngFor="let property of local; let i = index">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="text" id="{{name}}-{{i}}-source" name="{{name}}-{{i}}-source" [ngModel]="property.source" (ngModelChange)="doChangeSource(i, $event)" [disabled]="disabled" class="form-control">
      <input type="text" id="{{name}}-{{i}}-destination" name="{{name}}-{{i}}-destination" [ngModel]="property.destination" (ngModelChange)="doChangeDestination(i, $event)" [disabled]="disabled" class="form-control">
      <button class="btn btn-danger" type="button" (click)="doRemove(i)"><i class="bi bi-x"></i></button>
    </div>
  </div>
</div>
<div class="mb-3 row">
  <div class="col-sm-12">
    <div class="input-group">
      <input type="text" id="{{name}}-newValue-source" name="{{name}}-newValue-source" [(ngModel)]="newValueSource" (keydown.enter)="doAdd()" placeholder="Enter source path at the host" class="form-control">
      <input type="text" id="{{name}}-newValue-destination" name="{{name}}-newValue-destination" [(ngModel)]="newValueDestination" (keydown.enter)="doAdd()" placeholder="Enter destination path inside the container" class="form-control">
      <button class="btn btn-success" type="button" (click)="doAdd()"><i class="bi bi-plus"></i></button>
    </div>
  </div>
</div>
