
<h1>Statistics</h1>

<fusio-message [response]="result()"></fusio-message>

@if (loading()) {
  <div class="text-center mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
@else {
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>CPU %</th>
      <th>Mem Usage/Limit</th>
      <th>Memory %</th>
      <th>Net I/O</th>
      <th>Block I/O</th>
    </tr>
    </thead>
    <tbody>
    @for (stat of statistics()?.entry; track $index) {
      <tr>
        <td>{{stat.ID}}</td>
        <td>{{stat.Name}}</td>
        <td>{{stat.CPUPerc}}</td>
        <td>{{stat.MemUsage}}</td>
        <td>{{stat.MemPerc}}</td>
        <td>{{stat.NetIO}}</td>
        <td>{{stat.BlockIO}}</td>
      </tr>
    }
    </tbody>
  </table>
}
